{% extends 'base.html' %}

{% block titulo %}
<h1>Criar Livro</h1>
{% endblock %}

{% block conteudo %}

<h2>Cadastrar Novo Livro</h2>

<form action="/biblioteca/criar" method="POST">
    <input type="hidden" name="acao" value="cadastrar">
    <label>ISBN:
        <input type="number" name="isbn" required>
    </label>
    <br>

    <label>Título:
        <input type="text" name="titulo" required>
    </label>
    <br>

    <label>Autor:
        <input type="text" name="autor" required>
    </label>
    <br>

    <label>Gênero:
        <input type="text" name="genero" required>
    </label>
    <br>

    <label>Ano Publição:
        <input type="number" name="ano_publicacao" required>
    </label>
    <br>

    <label>Editora:
        <input type="text" name="editora" required>
    </label>
    <br>

    <label>Páginas:
        <input type="number" name="paginas" required>
    </label>
    <br>

    <label>Status:
        <input type="text" name="status" required>
    </label>
    <br>

    <label>Localização:
        <input type="text" name="localizacao" required>
    </label>
    <br><br>

    <button type="submit">Salvar Livro</button>

</form>

{% endblock %}